#mainTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
    border: 1px;
}

#mainTable th, #mainTable td {
    text-align: center;
    /* padding: 6px; */
    overflow-wrap: break-word;
}

#mainTable tr {
    border-bottom: 1px solid #ddd;
}

#mainTable tr.header, #mainTable tr:hover {
    background-color: #f1f1f1;
}

#mainTable .hidden_row {
    display: none;
}

#mainTable_wrapper {
    width: 95%;
    margin: 0 auto;
}

.mainTable {
    text-align: center;
}
