<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="hank_chu@fiberlogic.com">
    <link rel="stylesheet" href="{% static 'css/sort_bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.3.1.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/erp.css' %}">
    <title>404 Error</title>
</head>
<body>
<main role="main" class="container">
    <div class="jumbotron">
        <p class="lead">
            This is a custom 404 error page which will
            be shown instead of default 404 error page of Django everytime
            incorrect urls is entered in browser.
        </p>
    </div>
</main>

<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-4.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'js/erp.js' %}"></script>

</body>

</html>