<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="hank_chu@fiberlogic.com">
    <link rel="stylesheet" href="{% static 'css/sort_bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-3.4.1.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mib2snmp.css' %}">
    <title>template</title>
</head>

<body>

<div class="text-center">
    Powered by <a href="https://www.fiberlogic.com/" target="_blank">Fiberlogic</a>
</div>

</body>

<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-4.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/system_h_func.js' %}"></script>

</body>

</html>
